#searchTypeButtonGroup {
    /* background-color: brown; */
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: center;
    align-self: center;
}

.searchTypeButton {
    /* margin-top: 30px; */
    color: white;
  }

#textfield-box {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 2rem; */
    color: white;
    /* background-color: rosybrown; */
}

/* #search-text-input {
    width: 450px;
    color: white;
} */

.searchUIContainer {
    background-color: rgba(70, 70, 85, 0.26);
    background-blend-mode: color;
    /* border-color: white; */
    backdrop-filter: blur(10px);
    padding: 0 0 20px 0;
    /* border: 3px solid white; */
    border-radius: 15px;
    margin: 0 20rem 0 20rem;
}

.navbar-blur{
  background-color: rgba(70, 70, 85, 0.26);
  background-blend-mode: color;
  backdrop-filter: blur(10px);
}

.searchTypeSelectItem {
  width: 70px;
}


@media screen and (max-width: 1050px) {
    .searchUIContainer{
        margin: 0 2rem 0 2rem;
    }
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .searchUIContainer {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  #release-date-text{
    color: grey;
  }

  .dropdownArtists {
    padding: 1px 3px 1px 3px;
    margin: 0 0 0 5px;
    color: grey;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  